@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[data-theme="light"] {
  --body-bg: #f5f5f5;
  --body-text: #151515;
  --primary-bg: rgba(252, 255, 171, 0.589);
  --border-1: rgba(185, 183, 183, 0.723);
  --form-bg: rgba(183, 181, 196, 0.396);
  --error-color: rgb(168, 3, 3);
  --success-color: rgb(1, 109, 1);
  --nav-link-color: rgb(85, 85, 85);
  --accent-bg: rgba(0, 0, 0, 0.1);
  --icon-1: grey;
}
[data-theme="dark"] {
  --body-bg: #1e1e1e;
  --body-text: #fefefe;
  --primary-bg: rgba(32, 28, 39, 0.186);
  --secondary-bg: rgb(0, 6, 42);
  --border-1: rgb(74, 74, 74);
  --form-bg: rgba(0, 9, 24, 0.603);
  --error-color: rgb(189, 0, 0);
  --success-color: rgb(10, 155, 10);
  --nav-link-color: rgb(173, 173, 173);
  --accent-bg: rgba(0, 0, 0, 0.658);
  --icon-1: grey;
}

html,
body {
  background-color: var(--body-bg);
  color: var(--body-text);
  min-height: 100vh;
  width: 100%;
  transition: all 200ms;
  max-width: 1800px;
  margin: 0 auto;
}
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: space-between;
}
.themeButton {
  background: transparent;
  border: none;
  outline: none;
  color: var(--body-text);
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms;
}
.themeButton:active {
  transform: scale(0.8);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.4rem 0;
}
.homeLinkDiv {
  text-decoration: none;
  color: var(--body-text);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.logoIcon {
  max-height: 2rem;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
main {
  height: 100%;
  flex: 1;
}
/*Auth forms*/
.authForm {
  max-width: 30rem;
  margin: auto;
  background-color: var(--form-bg);
  padding: 1rem;
  text-align: center;
}
.form-action-button {
  width: 100%;
  box-shadow: -5px 5px 10px black;
  transition: all 200ms;
}
.form-action-button:active {
  box-shadow: none;
  transform: scale(0.98);
}
.authParagraph {
  text-align: center;
  margin-bottom: 1rem;
}
.AlertErrorMessage {
  padding-bottom: 0;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.errorText {
  color: var(--error-color);
}
.successtext {
  color: var(--success-color);
}
.passwordInputError {
  background-color: rgba(110, 2, 2, 0.23);
  outline: 1px solid red;
}
.passwordInputSuccess {
  background-color: rgba(127, 240, 127, 0.166);
}

.protectedNav {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}
.profileButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  font-size: 2rem;
  color: var(--body-text);
  background: transparent;
  border-radius: 50%;
  border: none;
}

.alignButtonContent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  gap: 0.2rem;
}

/* Dashboard*/
.dashboardNav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.dashboardNavLink {
  color: var(--nav-link-color);
  text-decoration: none;
  transition: all 200ms;
  border-radius: 5px;
  padding: 2px 5px;
  font-weight: bolder;
}
.dashboardNavLinkActive {
  border: 2px solid var(--border-1);
}

/*Videos Page*/
.videosDiv {
  min-height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.videoItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 0.5rem;
}
.videoItem {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  background-color: var(--accent-bg);
  font-weight: 400;
  font-size: 1rem;
  padding: 0.7rem 0.2rem;
  border-radius: 10px;
  box-shadow: -1px 2px 5px rgb(40, 39, 39);
  cursor: pointer;
  color: var(--body-color);
  text-decoration: none;
  transition: all 200ms;
}
.videoItem:active {
  box-shadow: none;
}
.videoIcon {
  font-size: 2rem;
  color: var(--icon-1);
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

/*FileById*/
.fileItemDiv {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.imageSingleFile {
  max-height: 20rem;
  min-height: 20rem;
  object-fit: contain;
  margin: auto;
  background-color: #000000e4;
}
.fileButtonsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.buttonWithIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.modalButtonsDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

@media only screen and (max-width: 400px) {
  .alignButtonContent {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}
