.imagesDiv {
  margin-top: 10px;
}
.loadingDiv {
  margin: 0 auto;
  width: fit-content;
}
.itemDivContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  min-height: 70vh;
}
.itemsListContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.image {
  max-height: 10rem;
  max-width: 10rem;
}
.itemDiv {
  width: min-content;
  overflow: hidden;
  cursor: pointer;
}
