.profileDiv {
  margin: 0 auto;
}
.loadingDiv {
  margin: auto;
}
.profileButtons {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.backButton {
  background: transparent;
  color: wheat;
  border: none;
  outline: none;
  position: absolute;
  left: 0;
}
.DeleteAccountBtn {
  margin: auto;
  width: 100%;
  flex: 1;
}
