.allVideosDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem;
  width: 100%;
}
.videoDiv {
  background-color: var(--headerBG);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 5px;
  padding: 1rem;
}
.videoLink {
  display: flex;
  width: 100%;
  color: white;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.pagination button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}
