.modal {
  color: black;
  backdrop-filter: blur(2px);
}
.successMessage {
  background-color: rgb(219, 229, 188);
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(2, 139, 59);
}
.errorMessage {
  background-color: pink;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(169, 1, 1);
}
