.homePageContainer {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heroContainer {
  background: url("../../assets/heroImg.svg");
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  height: 70vh; /* Full viewport height */
}
.innerHeroDiv {
  background-color: rgba(0, 0, 0, 0.205);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  text-shadow: 10px 10px 10px black;
  font-size: 1.2rem;
  color: rgb(255, 252, 246);
}
.buttonsDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.buttons {
  box-shadow: -5px -3px 10px 2px black;
  transition: all 100ms;
}
.buttons:active {
  box-shadow: none;
}

@media only screen and (max-width: 400px) {
  .buttonsDiv {
    flex-direction: column;
    width: 100%;
  }
  .buttons {
    width: 90%;
  }
}
