.section {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center;
  text-align: center;
}

p {
  font-size: 1.4rem;
}

.backButton {
  width: min-content;
  height: min-content;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--back-Btn-Color);
  position: absolute;
  left: 0;
  top: 0;
}
